
header{

    border-bottom: 1px solid red;

}



h1{

    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;



}

li{

    display: inline;
    float: right;
    width: 100px;
    margin-top: 100px;
}


#mypic {

    border-radius: 150%;
    clear: both;
    margin-top: 40px;
    width: 150px ;

}


body{

    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQarXJ8FU9LbnGzF_C8htn0yuif8lgptHHDxg&usqp=CAU);
background-repeat: no-repeat;
background-size: 5000px;

}



#welcome {
    color: black;
   font-size: 40px;
   margin-left: 10px;

}


#aboutme {

    color: black;
   font-size: 20px;
   margin-top: 30px;
   margin-left: 20px;



}


.paragraph {


color: black;
   font-size: 20px;
   margin-top: 30px;
   margin-left: 20px;

   

   




}

img {


margin-top: 100px;
width: 15%;

padding-left: 10px;
border-radius: 5%;




}



footer {
    border-top: 1px solid red; 

    padding-left: 10px;
}



h2 {
    border-top: 1px solid red; 

    margin-top: 30px;

font-size: 30px;
margin-left: 10px;

}


#Gym {

    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;





}


.games1 {

    
    display: inline-block;


    
    width: 200px;
    padding-left: 50px;
    padding-bottom: 40px;




}

h3{
    display: inline-block;

    width: 200px;
    padding-left: 50px;
padding-top: 20px;

}
